ch@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

/* background of the whole page */
html {

  background: url("./cave-light-blue.bin") no-repeat center center fixed !important;
  background-size: cover;
  -webkit-background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  height: 100%;
  background-color: black;

}
/* container of the whole page */

body {

   background: url("./cave-light-blue.bin") no-repeat center center fixed !important;
   background-size: cover;
   -webkit-background-size: cover !important;
   background-repeat: no-repeat;
   background-position: center !important;
   height: 100%;
   background-color: black;
}

.width {

  max-width: auto;
  margin: 0,auto;
  background: none;


}

.clear {

  clear: both;
}



::-webkit-scrollbar {

   width: 10px;
   background-color: rgba(60, 60, 60, 0.50);
   overflow: auto;
   background-color: transparent;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: transparent;
   overflow: auto;


}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(60, 60, 60, 0.50);
   background-color: rgb(54, 54, 54);
   overflow: auto;
}


.my-nav {

    background-image: none;
    background-color: rgba(60, 60, 60, 0.50) !important;
    height: 30px;
    width: auto;

}

a {

  color: darkred !important;
}

/* logout button style */

.my-btn, .my-use {

    border-radius: 0%;
    border-color: transparent;
    background-color: transparent;
    align-items: flex-end;
    background-image: none;
    font-family: "Source Sans Pro", "sans-serif";

}

.my-use {

   font-size: 1.3rem;
   font-weight: 400;
   color: #fff;
   padding-left: 2rem;

}

.my-btn {
   color: gray;
}



/* logout button on mouse hover */
.my-btn:hover, .my-use:hover {

  color: darkred;
  font-family: "Source Sans Pro", "Sans-serif";

}


/* container with the grid. all the page content. box sizing for limiting the box expanding */
.my-content, .my-tcontent {

  background-color: rgba(60, 60, 60, 0.50);
  margin-top: 3rem;

  width: 80%;
  height: 90%
  box-sizing: content-box;
  border-width: 2rem;
  border-color: transparent;

}

.my-content {

  padding-bottom: 1rem;
}

.my-left, .my-right {

  background-color: rgba(60, 60, 60, 0.50);
  margin-top: 1rem;
  border-width: 2rem;
  border-color: transparent;
  padding: 1rem;


}

.my-left {

  margin-right: 0.5rem;
}

.my-right {

  margin-left: 0.5rem;
}

.my-grid {

  background-color: transparent;
  background: transparent;
  background-image: none;
  display: flex;
}

/* all plain text content is formatted here */
.my-text, .my-invtitle, .my-object {

  justify-content: center;
  background-color: transparent;
  text-align: justify;
  font-family: "Source Sans Pro", "Sans-serif";
  display: flex;
  padding-right: 1.5rem;
  box-sizing: border-box;
  color: #fff;

}

.my-text {
     padding-left: 1.5rem;
}
.my-object {
     margin-left: 2rem !important;
     margin-top: 0;
     margin-bottom: 0;
     margin-right: 1.5rem;
     padding: 0;
     text-align: justify;
}

.my-invtitle {

  text-transform: uppercase;
  margin-top: 1.5rem;
  justify-content: center !important;
  padding-left: 1.5rem;

}

.my-modtxt {

  justify-content: center;
  background-color: transparent;
  text-align: center;
  font-family: "Source Sans Pro", "Sans-serif";
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: content-box;
  font-size: 1.5rem;


}







h1 {

  color: #fff !important;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 3rem;
  font-family: "Source Sans Pro", "Sans-serif";
}

.my-title {

  color: #fff !important;
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 2rem !important;
  font-size: 3rem;
  font-family: "Source Sans Pro", "Sans-serif";
  text-transform: uppercase;
  margin-bottom: 0 !important;

}

.my-scroll {
  overflow-y: scroll;
  overflow: auto;

}



h5 {

  color: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 2rem;
  font-family: "Source Sans Pro", "Sans-serif";

}

h6 {
     text-transform: uppercase;
     font-family: "Source Sans Pro", "Sans-serif";
     font-weight: 400;
     display: flex;
     justify-content: flex-start;
     color: #fff;
     font-size: 1.4rem;
     margin-top: 1rem;
     padding-left: 2rem

}

p {

  color: #fff;
  padding-bottom: 2rem;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2em;
  text-align: justify;



}

/* button for the user to launch dices */
.my-dices, .my-selection {

  color: #fff;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 300;
  font-size: 1.3rem;
  border-radius: 0%;
  border-color: transparent;
  background-color: rgba(143, 143, 143, 0.31);
  box-sizing: border-box;
  border-width: 0.1rem;
  display: flex;
  justify-content: center !important;
  align-items: center;



}
/* dices button on mouse hover. it changes the background color to red and animate the button to appear bigger */
.my-dices:hover {

  background-color: darkred;
  transform: scale(1.1, 1.1);

}

.my-selection {

  width: 80%;
  align-self: center;
  margin: 0;
}

.my-selection:hover {

  background-color: darkred;
  transform: scale(1.1, 1.1);
}


.my-list {

  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 300;
  font-size: 1.3rem;
  padding-bottom: 1rem;
  background-image: none;
  background-color: transparent !important;
  border-radius: 0px;
  border-color: transparent !important;




}

.my-stat {

  color: #fff;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.3rem;
  font-weight: 300;
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  background-image: none;
  width: 20%;


}

.last {

  padding-bottom: 2rem;
}

/* radio buttons styling */
.my-radio {

  color: #fff;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.3rem;
  font-weight: 300;
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  background-image: none;
  text-align: center;


}

.atta, .my-vert {

  background-color: rgba(143, 143, 143, 0.31) !important;
  border-radius: 0px;
  border-color: transparent;
  background-image: none;

  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;

}

.atta {

  width: 30%;
}

.my-vert {

  width: 100% !important;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0 !important;
  margin-top: 0.5rem !important;
  padding: 1rem;

}


.my-buttons {

  margin-left: 0 !important;
  margin-right: 0 !important;
}



.my-modal {

  background-color: rgba(0, 0, 0, 0.60) !important;
  border-radius: 0px;
  border-color: transparent;
  background-image: none;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.3rem;
  font-weight: 300;
  position: relative;
  transform: translateY(50%);


}

.modstyle {

  border: 0px;

}

/* characteristics styling */
.my-item {

  color: #fff;
  font-family: "Source Sans Pro", "sans-serif";
  font-size: 1.3rem;
  font-weight: 300;
  background-image: none;
  background-color: transparent;
  border-radius: 0px;
  border-color: transparent;
  background-image: none;
  display: flex;
  justify-content: flex-start;


}
/* container of the dices and characteristic part */
.my-choice {


  display: webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: rgba(60, 60, 60, 0.50);
  background-image: none;
  width: 85%;
  box-sizing: content-box;
  border-width: 1rem;
  border-color: transparent;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

}

/* dices images scaling */
.onedice {

  width: 20px;
  height: 20px;
}

.my-play {

  color: #fff;
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 300;
  font-size: 1.3rem;
  border-radius: 0%;
  border-color: transparent;
  background-color: rgba(143, 143, 143, 0.31);
  box-sizing: border-box;
  border-width: 0.1rem;
  align-items: center;
  display: flex;
  justify-content: center;


}

.my-play:hover {

  background-color: darkred;
  transform: scale(1.1, 1.1);

}

.go-on {

  display: flex;
  align-items: center;
  background-color: transparent;
  background-image: none;
  background: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  box-sizing: content-box;


}

.my-align {

  display: flex;
  justify-content: space-between;
}


img.avatar {
  float: right;
  border-radius: 50%;
  margin-right: auto;

}

.login-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-basis: auto;
    width: 600px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: flex-start;
    flex-flow: nowrap;
    background: rgba(134, 134, 134, 0.37);
}

.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 510px;
    height: 310px;
    border-radius: 1px;


    &:before {
      content: '';
      position: absolute;
      top: -8px; right: -8px; bottom: -8px; left: -8px;
      z-index: -1;
      background: rgba(black, .08);
      border-radius: 1px;
    }
}

p.item {

  font: 13px/20px Helvetica, 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: rgb(204, 204, 204);
  flex-grow: 2;
  align-self: flex-start;
  padding: 20px;

}


p {

  margin: 20px 0 0;
}

p: first-child {

  margin-top: 0;
}

input[type=text], input[type=password] {       width: 278px; }

p.sign-up {

  line-height: 31px;
  align-self: flex-start;
  margin: 5px;
  padding-top: 8px;
  padding-left: 2px;
  flex-grow: 1


}



p.submit {

  line-height: 31px;
  flex-grow: 2;
  align-self: stretch;
  padding-top: 20px;




}

.login-help {

  margin: 20px 0 20px 0;
  font-size: 10px;
  color: antiquewhite;
  text-align: center;
  align-self: stretch;

}


  input {

    font-family: Helvetica, 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: 14px;
  }

  input[type=text], input[type=password] {
    margin: 5px;
    padding: 0 10px;
    width: 278px;
    height: 34px;
    color: #404040;
    background: rgba(#444444, 0.77);




  }

  input[type=submit] {
    margin: 5px;
    padding: 0 18px;
    height: 38px;
    font-size: 15px;

    color: black;
    background: rgba(#394442, 0.77);

    @include box-sizing(content-box); // Firefox sets this to border-box by default



  }

  .lt-ie9 {
    input[type=text], input[type=password] { line-height: 34px; }
  }
